.work-page
  I am currently a second year Software Engneering student at the University of Waterloo. 
  %p I recently finished a co-op term with the Waterloo based travel company Demeure, as a Ruby on Rails developer. 
