.work-page
  .row-fluid
    .span2
      = image_tag('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/539566_10200584628086597_2131738356_n.jpg')
    .span7
      I am currently a second year Software Engineering student at the University of Waterloo. I recently finished a 4-month co-op term with the Waterloo based travel company Demeure, as a Ruby on Rails developer.
      %p
        I have experience working with teams in an agile environment, managing tasks using tools like Sprint.ly and GitHub. Prior to co-op and my recent academic terms, I spent the previous summer as a research student at York University, working with a group on the Athenian's Project, an ongoing effort to analyze the data collected on the people of Ancient Greece. 
      %p
        My ideal work environment balances both work and play, buckling down to get the job done but ultimately offering an enjoyable experience for all those involved.
