.profile {
  .toprow {
    position: relative;
  }
  .resume {
      text-decoration: none;
      color: rgb(70,70,70);
      box-shadow: 0px 0px 2px 1px #686868;
      background: rgba(238, 238, 238, 0.6);
      font-size: 16px;
      padding: 5px 10px 5px 10px;
      position: absolute;
      left: -20px;
    }
  #page-3, #page-1, #page-2 {
    .content {
      margin-top: 17%;
      $break-small: 400px;
      @media screen and (max-height: $break-small) {
        margin-top: 10%;
      }
      .text {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 20px;
        a {
          text-decoration: none;
        }
      }
      .buttons {
        text-align: center;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        .category {
          font-size: 30px;
        } 
      }
      .fun {
        font-size: 80px;
        margin-bottom: 20px;
        font-family: 'Fairview';
      }
      .side-bar {
        li {
          list-style-type: none;
        }
        .name {
          margin-left: 40px;
        }
        .true {
          color: rgb(105, 102, 102);
        }
      }
    }
  }
  #page-3 {
    background: #003A35;
  }
  #page-1 { 
    background: #390B7E;
  }
  #page-2 {
    background: #440000;
  }
  #page-0 {
    background: #5787EC;
    background: #C630DA; /* Old browsers */
    background: -moz-linear-gradient(left, #C630DA 0%, #540B70 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#C630DA), color-stop(100%,#540B70)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #C630DA 0%,#540B70 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #C630DA 0%,#540B70 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #C630DA 0%,#540B70 100%); /* IE10+ */
    background: linear-gradient(to right, #C630DA 0%,#540B70 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C630DA', endColorstr='#540B70',GradientType=1 ); /* IE6-9 */
    .content {
      margin-top: 20%;
      $break-small: 400px;
      @media screen and (max-height: $break-small) {
        margin-top: 10%;
      }
      .text {
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      .buttons {
        text-align: center;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        .category {
          font-size: 30px;
        } 
      }
      .side-bar {
        li {
          list-style-type: none;
        }
      }
    }
  }
}
