.profile {
  .et-wrapper {
    background-image: url(image_path('cliffs.jpg'));
  }
  .toprow {
    position: relative;
  }
  .resume {
      text-decoration: none;
      color: rgb(70,70,70);
      box-shadow: 0px 0px 2px 1px #686868;
      background: rgba(238, 238, 238, 0.6);
      font-size: 16px;
      padding: 5px 10px 5px 10px;
      position: absolute;
      left: -20px;
    }
  #page-3, #page-1, #page-2 {
    .content {
      margin-top: 17%;
      $break-small: 400px;
      @media screen and (max-height: $break-small) {
        margin-top: 10%;
      }
      .text {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 20px;
        a {
          text-decoration: none;
        }
      }
      .buttons {
        text-align: center;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        .category {
          font-size: 30px;
        } 
      }
      .fun {
        font-size: 80px;
        margin-bottom: 20px;
        font-family: 'Fairview';
      }
      .side-bar {
        li {
          list-style-type: none;
        }
        .name {
          margin-left: 40px;
        }
        .true {
          color: rgb(105, 102, 102);
        }
      }
    }
  }
  #page-0 {
    .footer-row {
      $break-small: 400px;
      @media screen and (max-width: $break-small) {
        width: auto;

        a {
          margin: 0;
        }
      }
    }

    .content {
      margin-top: 20%;
      $break-small: 600px;
      @media screen and (max-width: $break-small) {
        margin-top: 50%;
      }
      .text {
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        $break-small: 600px;

        @media screen and (max-width: $break-small) {
          width: auto;
        }
      }
      .buttons {
        text-align: center;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        .category {
          font-size: 30px;
        }
        $break-small: 600px;
        @media screen and (max-width: $break-small) {
          width: 100%;
          .span4 {
            width: 100%;
            margin-top: 10px;
            a {
              margin: 0;
            }
          }
          width: auto;
          a {
            margin: 0;
          }
        }
      }
      .side-bar {
        li {
          list-style-type: none;
        }
      }
    }
  }
}
