.container-fluid.footer
  %nav.cl-effect-12
    .row-fluid.footer-row
      .span3
        = link_to 'https://github.com/danReynolds' do
          %i.icon-github
      .span3
        = link_to 'https://twitter.com/TheDerivative' do
          %i.icon-twitter
      .span3
        = link_to 'https://www.facebook.com/Dee.Renz' do
          %i.icon-facebook
      %span3
        = link_to 'http://www.linkedin.com/profile/view?id=225333394&trk=nav_responsive_tab_profile_pic' do
          %i.icon-linkedin

